<!doctype html>
<html lang="en">
    <head>
        <link href="/assets/main.css" rel="stylesheet" />
        <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}{% endblock %}
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        <div id="content">
            <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
